body {
  font-family: sans-serif;
  margin: 0px;
}
header {
  position: fixed;
  top: 0px;
  width: 100%;
  color: white;
  padding: 1em;
}
section {
  padding: 1em;
}
section#hero {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), green url("../assets/bg-image-2560x1920-q90.jpg") no-repeat bottom right fixed;
  background-size: cover;
  height: 600px;
  color: white;
  box-shadow: inset 0px -1em 1em rgba(0, 0, 0, 0.2);
  padding-top: 1em;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
  z-index: 1;
}
section#hero .wrapper {
  margin-top: 150px;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
}
section#section2 {
  background-color: #eee;
  min-height: 350px;
  box-shadow: inset 0px -0.2em 0.5em rgba(0, 0, 0, 0.2);
  z-index: 2;
  position: relative;
}
@media screen and (max-width: 768px) {
  .wrapper div {
    width: 100% !important;
    float: none;
  }
}
.wrapper {
  max-width: 1000px;
  min-width: 200px;
  margin: 0px auto;
}
.wrapper p {
  padding: 0em 0.4em;
}
.third {
  width: 33.33%;
  display: inline-block;
  float: left;
}
.half {
  width: 50%;
  display: inline-block;
  float: left;
}
.centre {
  text-align: center;
}
.profile {
  background-color: #eee;
  height: 250px;
  width: 250px;
  border-radius: 250px;
  padding: 20px;
}
.button {
  padding: 0.6em 0.8em;
  border-radius: 2em;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.05));
  color: white;
  text-decoration: none;
}
.green {
  background-color: #62c334;
}
.purple {
  background-color: #9335d5;
}
.blue {
  background-color: #358fd7;
}
footer {
  padding: 2em;
  text-align: center;
  position: relative;
  z-index: 99;
  background-color: white;
  /*icons from https://dribbble.com/shots/1427054-Flat-Minimalistic-Social-Icons*/
}
footer span {
  display: block;
}
footer img {
  width: 32px;
  height: 32px;
  margin: 8px;
  border-radius: 32px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
  transition-duration: 100ms;
}
footer img:hover,
footer img:focus {
  /*TODO - tweak*/
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.6);
}
footer a {
  text-decoration: none;
}
footer #googleplus {
  fill: red;
}
