html {
    background: #323e1a url('assets/bg-image-2560x1920-q90.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}

nav {
    /*was #eee*/
    background: transparent;
    font-weight: bold;
    color: #eee;
    transition-duration: 100ms;
    padding: 0.5em;
}

nav ul {
    margin: 0px;
    padding: 1em;
}

nav li {
    list-style: none;
    display: inline-block;
    padding: 0em 1em;
}

nav img {
    height: 2.7em;
    width: 2.7em;
    padding: 0.3em 0.4em 0.2em 0.1em;
    float: left;
    background: #eee;
    border-radius: 1.5em;
    margin: 0em 0.5em 0em 0em;
    /* neat trickmargin: -1.5em;*/
}

nav img:hover {
    margin: 0em;
    transition-duration: 200ms;
}

article {
    margin: 1em;
    min-width: 40em;
    max-width: 60em;
    display: inline-block;
    background: rgba(255,255,255,0.3);
    /*TODO - put this in the actual title spot (h3)?*/
    border-top: 1px solid rgba(255,255,255,0.8);
    box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
    float: left;
}

article h3 {
    margin: 0em;
    padding: 0.5em;
    /*border-bottom: 1px solid rgba(0,0,0,0.4);*/

    box-shadow: 0px 4px 8px -2px rgba(0,0,0,0.6);

    background: -moz-linear-gradient(top, rgba(255,255,255,0.35) 0%, rgba(255,255,255,0.25) 42%, rgba(255,255,255,0.22) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.35)), color-stop(42%,rgba(255,255,255,0.25)), color-stop(100%,rgba(255,255,255,0.22))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.35) 0%,rgba(255,255,255,0.25) 42%,rgba(255,255,255,0.22) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,0.35) 0%,rgba(255,255,255,0.25) 42%,rgba(255,255,255,0.22) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,0.35) 0%,rgba(255,255,255,0.25) 42%,rgba(255,255,255,0.22) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,0.35) 0%,rgba(255,255,255,0.25) 42%,rgba(255,255,255,0.22) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59ffffff', endColorstr='#38ffffff',GradientType=0 ); /* IE6-9 */
}

article p,
article form {
    padding: 0.5em;
    margin: 0em;
}

article img {
    margin: 0.5em;
}

article ul {
    margin: 0em 0.3em;
}

/*remove underlines on lightbox links*/
a[data-lightbox] {
    text-decoration: none;
}

.active-page,
a:hover {
    color: #eee !important;
    text-shadow: 0px 0px 4px rgba(0,0,0,0.6);
}

a:link,
a:visited {
    color: #ccc;
}

/*forms*/

input,
select,
textarea {
    margin: 0.5em;
}

textarea {
    position: relative;
    width: 80%;
    min-height: 8em;
}

form label {
    margin-bottom: 1em;
}

.errorText {
    color: #f22;
}

/*sticky-footer stuff*/

body {
    display: flex;
    min-height: 100vh; /*TODO -  what's a vh?*/
    flex-direction: column;
}

main {
    flex: 1;
}

.slideshow {
    margin: 0em 2em;
    height: 20%;
    border: 4px solid rgba(255,255,255,0.5);
    border-radius: 2px;
    /*lowest common denominator for theme previews*/
    max-width: 1600px;
    /*TODO - is this necessary?*/
    max-height: 900px;
}

.slideshow img {
    max-width: 100%;
}

figure {
    margin: 0em;
}

figcaption {
    font-weight: bold;
    font-size: 2em;
    color: #eee;
    margin: 0em;
    padding: 0em 0.2em 0.4em 0.2em;
    text-align: center;
}

/*end sticky-footer stuff*/

footer {
    padding-left: 8px;
}

/*icons from https://dribbble.com/shots/1427054-Flat-Minimalistic-Social-Icons*/

footer img {
    width: 32px;
    height: 32px;
    margin: 8px;
    /*padding: 8px 0px 8px 8px;*/
    border-radius: 32px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.6);
    opacity: 0.6;
    transition-duration: 100ms;
}

footer img:hover,
footer img:focus {
    opacity: 1;
}

footer a {
    text-decoration: none;
}

/*
TODO - optimize the gnome-shell images for loading over internet/lazy loading
*/
