body {
	margin: 0px;
	padding: 0px;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	font-family: sans-serif;
    /*background, with gradient under for seamlessness if window too small*/
    background: #a7ae9e;
    background: url(assets/photos/sahara-desert-wallpapers-nature-wallpapers-beautiful-nation-photo-desert-wallpaper.jpg) no-repeat center center;
    background: url(assets/photos/sahara-desert-wallpapers-nature-wallpapers-beautiful-nation-photo-desert-wallpaper.jpg) no-repeat center center, #a7ae9e; /* Old browsers */
    background: url(assets/photos/sahara-desert-wallpapers-nature-wallpapers-beautiful-nation-photo-desert-wallpaper.jpg) no-repeat center center, -moz-linear-gradient(top,  #a7ae9e 0%, #a7ae9e 50%, #e9a24a 50%, #e9a24a 100%); /* FF3.6+ */
    background: url(assets/photos/sahara-desert-wallpapers-nature-wallpapers-beautiful-nation-photo-desert-wallpaper.jpg) no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a7ae9e), color-stop(50%,#a7ae9e), color-stop(50%,#e9a24a), color-stop(100%,#e9a24a)); /* Chrome,Safari4+ */
    background: url(assets/photos/sahara-desert-wallpapers-nature-wallpapers-beautiful-nation-photo-desert-wallpaper.jpg) no-repeat center center, -webkit-linear-gradient(top,  #a7ae9e 0%,#a7ae9e 50%,#e9a24a 50%,#e9a24a 100%); /* Chrome10+,Safari5.1+ */
    background: url(assets/photos/sahara-desert-wallpapers-nature-wallpapers-beautiful-nation-photo-desert-wallpaper.jpg) no-repeat center center, -o-linear-gradient(top,  #a7ae9e 0%,#a7ae9e 50%,#e9a24a 50%,#e9a24a 100%); /* Opera 11.10+ */
    background: url(assets/photos/sahara-desert-wallpapers-nature-wallpapers-beautiful-nation-photo-desert-wallpaper.jpg) no-repeat center center, -ms-linear-gradient(top,  #a7ae9e 0%,#a7ae9e 50%,#e9a24a 50%,#e9a24a 100%); /* IE10+ */
    background: url(assets/photos/sahara-desert-wallpapers-nature-wallpapers-beautiful-nation-photo-desert-wallpaper.jpg) no-repeat center center, linear-gradient(to bottom,  #a7ae9e 0%,#a7ae9e 50%,#e9a24a 50%,#e9a24a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7ae9e', endColorstr='#e9a24a',GradientType=0 ); /* IE6-9 */
}

body.iframe {
	background: transparent;
}

header {
	background-color: #382E1C;
	padding: 16px;
	color: #fff6e6;
	width: 100%;
	position: fixed;
	z-index: 100;
}

header a {
	color: inherit;
}

h1 {
    padding: 5px;
    display: inline;
}

div.container {
    display: flex;
    flex: 1;
}

main {
	margin-top: 90px;

    flex: 1;
    padding: 8px;
}

nav {
    /* 12em is the width of the columns */
    flex: 0 0 12em;
    order: -1;
    background-color: #eee;
}

footer {
	background-color: #453823;
	color: #eee;
	text-align: center;
	padding: 8px;
	font-size: 12pt;
}

a:link {
	text-decoration: none;
}

/*thumbnail captions start*/

.box {
    border: 5px solid #fff;
    height: 332px;
    float: left;
    margin: 5px;
    position: relative;
    overflow: hidden;
    width: 415px;
    -webkit-box-shadow: 1px 1px 1px 1px #ccc;
    -moz-box-shadow: 1px 1px 1px 1px #ccc;
    box-shadow: 1px 1px 1px 1px #ccc;
}  
      
.box img {
    position: absolute;
    left: 0;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.box .caption {
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    color: #fff;
    z-index: 99;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    left: 0;
}

.box .simple-caption {
    height: 30px;
    width: 100%;
    display: block;
    bottom: -30px;
    line-height: 25pt;
    text-align: center;
}

.box:hover .simple-caption,
.box .simple-caption /*TODO - got rid of hover*/ {
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

/*thumbnail captions end*/

table {
	border-collapse:separate;
	border-spacing: 10px;
}

table.sights > tbody > tr > td {
	background-color: rgba(255,255,255,0.4);
	border-radius: 10px;
	padding: 0px 4px;
	vertical-align: baseline;
}

/*second column*/
div.tour-side-info td ~ td {
	text-align: right;
}

div.tour-side-info img {
	padding: 8px;
}

/*slantbar (header nav) start*/

ul.slantbar {
 	margin: 0 20px 20px 20px;
 	padding: 0;
 	font-size: 0;
 	list-style: none;
 	cursor:default;
 	border-radius:3px;
 	font-weight:700;
}

ul.slantbar li {
  	display: inline-block;
  	font-size: 20px;
 	color: white;
 	height: 50px;
 	line-height: 50px;
 	display:inline-block;
 	padding:0 15px;
 	-webkit-transform:skew(-15deg);
       -moz-transform:skew(-15deg);
            transform:skew(-15deg);
	background: rgb(153,146,119); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(153,146,119,1) 0%, rgba(160,153,117,1) 40%, rgba(127,120,79,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(153,146,119,1)), color-stop(40%,rgba(160,153,117,1)), color-stop(100%,rgba(127,120,79,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(153,146,119,1) 0%,rgba(160,153,117,1) 40%,rgba(127,120,79,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(153,146,119,1) 0%,rgba(160,153,117,1) 40%,rgba(127,120,79,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(153,146,119,1) 0%,rgba(160,153,117,1) 40%,rgba(127,120,79,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(153,146,119,1) 0%,rgba(160,153,117,1) 40%,rgba(127,120,79,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999277', endColorstr='#7f784f',GradientType=0 ); /* IE6-9 */
    background-repeat: repeat-x;
 	margin-right:-1px;
 	text-shadow:0 1px 1px rgba(255,255,255,0.5);
}

ul.slantbar li a {
	color: #453823;
}

ul.slantbar li i {
    display:block;
  	font-style:normal;
  	pointer-effects:none;
  	-webkit-transform:skew(15deg);
       -moz-transform:skew(15deg);
            transform:skew(15deg);
}

ul.slantbar li:first-child:before,
ul.slantbar li:last-child:after {
  	content:'';
  	position:absolute;
  	display:block;
  	top:0px;
  	left:-8px;
  	width:15px;
  	height:50px;
  	-webkit-transform:skew(15deg);
  	border-radius:3px 0 0 3px;
  	background: rgb(153,146,119); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(153,146,119,1) 0%, rgba(160,153,117,1) 40%, rgba(127,120,79,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(153,146,119,1)), color-stop(40%,rgba(160,153,117,1)), color-stop(100%,rgba(127,120,79,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(153,146,119,1) 0%,rgba(160,153,117,1) 40%,rgba(127,120,79,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(153,146,119,1) 0%,rgba(160,153,117,1) 40%,rgba(127,120,79,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(153,146,119,1) 0%,rgba(160,153,117,1) 40%,rgba(127,120,79,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(153,146,119,1) 0%,rgba(160,153,117,1) 40%,rgba(127,120,79,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999277', endColorstr='#7f784f',GradientType=0 ); /* IE6-9 */
    background-repeat: repeat-x;
}

ul.slantbar li:last-child:after {
  	left:auto;
  	right:-8px;
  	border-radius:0 3px 3px 0;
}

ul.slantbar li:hover,
ul.slantbar li.active {
	background: rgb(211,207,186); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(211,207,186,1) 0%, rgba(198,192,159,1) 40%, rgba(178,170,132,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(211,207,186,1)), color-stop(40%,rgba(198,192,159,1)), color-stop(100%,rgba(178,170,132,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(211,207,186,1) 0%,rgba(198,192,159,1) 40%,rgba(178,170,132,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(211,207,186,1) 0%,rgba(198,192,159,1) 40%,rgba(178,170,132,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(211,207,186,1) 0%,rgba(198,192,159,1) 40%,rgba(178,170,132,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(211,207,186,1) 0%,rgba(198,192,159,1) 40%,rgba(178,170,132,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3cfba', endColorstr='#b2aa84',GradientType=0 ); /* IE6-9 */

    background-repeat: repeat-x;
  	color:black;
  	text-shadow:0 1px 1px rgba(255,255,255,0.7);
}

ul.slantbar li:first-child:hover:before,
ul.slantbar li:last-child:hover:after,
ul.slantbar li:first-child.active:before,
ul.slantbar li:last-child.active:after {
	background: rgb(211,207,186); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(211,207,186,1) 0%, rgba(198,192,159,1) 40%, rgba(178,170,132,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(211,207,186,1)), color-stop(40%,rgba(198,192,159,1)), color-stop(100%,rgba(178,170,132,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(211,207,186,1) 0%,rgba(198,192,159,1) 40%,rgba(178,170,132,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(211,207,186,1) 0%,rgba(198,192,159,1) 40%,rgba(178,170,132,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(211,207,186,1) 0%,rgba(198,192,159,1) 40%,rgba(178,170,132,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(211,207,186,1) 0%,rgba(198,192,159,1) 40%,rgba(178,170,132,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3cfba', endColorstr='#b2aa84',GradientType=0 ); /* IE6-9 */
    background-repeat: repeat-x;
}

/*TODO - this is broken? supposed to be brighter for active:hover*/
ul.slantbar li:first-child.active:before:hover,
ul.slantbar li:last-child.active:after:hover,
ul.slantbar li.active:hover {
	background: rgb(242,237,215); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(242,237,215,1) 0%, rgba(242,234,198,1) 40%, rgba(214,203,160,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,237,215,1)), color-stop(40%,rgba(242,234,198,1)), color-stop(100%,rgba(214,203,160,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(242,237,215,1) 0%,rgba(242,234,198,1) 40%,rgba(214,203,160,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(242,237,215,1) 0%,rgba(242,234,198,1) 40%,rgba(214,203,160,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(242,237,215,1) 0%,rgba(242,234,198,1) 40%,rgba(214,203,160,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(242,237,215,1) 0%,rgba(242,234,198,1) 40%,rgba(214,203,160,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2edd7', endColorstr='#d6cba0',GradientType=0 ); /* IE6-9 */
    background-repeat: repeat-x;

}

ul.slantbar li.active:first-child

ul.slantbar li:first-child i {
  	margin-left:-5px;
}

ul.slantbar li:last-child i {
  	margin-right:-5px;
}

/*slantbar (header nav) end*/

div.tour-side-info {
	box-shadow: inset 0px 0px 8px rgba(0,0,0,0.6);
	float: right;
	border-radius: 5px;
	margin: 4px;
}

div.hotel {
    float: left;
    background-color: rgba(255,255,255,0.5);
    padding: 8px;
    max-width: 800px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    border: none;
    margin: 8px;
    width: 475px;
    height: 275px;
}

div.hotel img:first-child {
    margin: 8px 8px 0px 0px;
    float: left;
    border: none;
    max-height: 150px;
}

q {
    font-style: italic;
    font-size: 11pt;
}

blockquote,
fieldset {
	background-color: rgba(255,255,255,0.5);
	padding: 8px;
	max-width: 800px;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	border: none;
}

fieldset {
	width: 0px;
	padding: 10px 20px 5px 20px;
	margin: 2em;
}

fieldset.booking {
    width: 500px;
}

fieldset.booking td {
    text-align: right;
}

legend {
	background-color: #e6e6d8;
	box-shadow: 0px -2px 2px rgba(0,0,0,0.3);
	padding: 4px 8px;
    text-align: center;
}