body {
	margin: 0px;
	padding: 0px;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	font-family: sans-serif;
	background: #fff6e6 url(assets/photos/sahara-desert-wallpapers-nature-wallpapers-beautiful-nation-photo-desert-wallpaper.jpg) no-repeat center center; /*TODO - fixed or?*/
}

header {
	background-color: #382E1C;
	/*text-align: center;*/
	padding: 16px;
	color: #fff6e6;
	width: 100%;
	position: fixed;
	z-index: 100;
}

header a {
	color: inherit;
}

h1 {
    padding: 5px;
    display: inline;
}

hr ~ p {
	text-align: center;
}

blockquote {
	background-color: rgba(255,255,255,0.5);
	padding: 8px;
	max-width: 800px;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5)
}

div.container {
    display: flex;
    flex: 1;
}

main {
	margin-top: 90px;

    flex: 1;
    padding: 8px;
}

nav {
    /* 12em is the width of the columns */
    flex: 0 0 12em;
    order: -1;
    background-color: #eee;
}

footer {
	background-color: #453823;
	color: #eee;
	text-align: center;
	padding: 8px;
}

a {
	text-decoration: none;
	/*TODO - make colour good for everything, not just nav*/
}

.box {
    border: 5px solid #fff;
    cursor: pointer;
    height: 332px;
    float: left;
    margin: 5px;
    position: relative;
    overflow: hidden;
    width: 415px;
    -webkit-box-shadow: 1px 1px 1px 1px #ccc;
    -moz-box-shadow: 1px 1px 1px 1px #ccc;
    box-shadow: 1px 1px 1px 1px #ccc;
}  
      
.box img {
    position: absolute;
    left: 0;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.box .caption {
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    color: #fff;
    z-index: 99;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    left: 0;
}

.box .simple-caption {
    height: 30px;
    width: 100%;
    display: block;
    bottom: -30px;
    line-height: 25pt;
    text-align: center;
}

.box:hover .simple-caption,
.box .simple-caption /*TODO - got rid of hover*/ {
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

table {
	border-collapse:separate;
	border-spacing: 10px;
}

table.sights td {
	background-color: rgba(255,255,255,0.4);
	border-radius: 10px;
	padding: 4px;
}

/*start*/

ul.slantbar {
 	margin: 0 20px 20px 20px;
 	padding: 0;
 	font-size: 0;
 	list-style: none;
 	cursor:default;
 	border-radius:3px;
 	font-weight:700;
}

ul.slantbar li {
  	display: inline-block;
  	font-size: 20px;
 	color: white;
 	height: 50px;
 	line-height: 50px;
 	display:inline-block;
 	padding:0 15px;
 	-webkit-transform:skew(-15deg);
       -moz-transform:skew(-15deg);
            transform:skew(-15deg);
	background: rgb(153,146,119); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(153,146,119,1) 0%, rgba(160,153,117,1) 40%, rgba(127,120,79,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(153,146,119,1)), color-stop(40%,rgba(160,153,117,1)), color-stop(100%,rgba(127,120,79,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(153,146,119,1) 0%,rgba(160,153,117,1) 40%,rgba(127,120,79,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(153,146,119,1) 0%,rgba(160,153,117,1) 40%,rgba(127,120,79,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(153,146,119,1) 0%,rgba(160,153,117,1) 40%,rgba(127,120,79,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(153,146,119,1) 0%,rgba(160,153,117,1) 40%,rgba(127,120,79,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999277', endColorstr='#7f784f',GradientType=0 ); /* IE6-9 */
    background-repeat: repeat-x;
 	margin-right:-1px;
 	text-shadow:0 1px 1px rgba(255,255,255,0.5);
}

ul.slantbar li a {
	color: #453823;
}

ul.slantbar li i {
    display:block;
  	font-style:normal;
  	pointer-effects:none;
  	-webkit-transform:skew(15deg);
       -moz-transform:skew(15deg);
            transform:skew(15deg);
}

ul.slantbar li:first-child:before,
ul.slantbar li:last-child:after {
  	content:'';
  	position:absolute;
  	display:block;
  	top:0px;
  	left:-8px;
  	width:15px;
  	height:50px;
  	-webkit-transform:skew(15deg);
  	border-radius:3px 0 0 3px;
  	background: rgb(153,146,119); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(153,146,119,1) 0%, rgba(160,153,117,1) 40%, rgba(127,120,79,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(153,146,119,1)), color-stop(40%,rgba(160,153,117,1)), color-stop(100%,rgba(127,120,79,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(153,146,119,1) 0%,rgba(160,153,117,1) 40%,rgba(127,120,79,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(153,146,119,1) 0%,rgba(160,153,117,1) 40%,rgba(127,120,79,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(153,146,119,1) 0%,rgba(160,153,117,1) 40%,rgba(127,120,79,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(153,146,119,1) 0%,rgba(160,153,117,1) 40%,rgba(127,120,79,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999277', endColorstr='#7f784f',GradientType=0 ); /* IE6-9 */
    background-repeat: repeat-x;
}

ul.slantbar li:last-child:after {
  	left:auto;
  	right:-8px;
  	border-radius:0 3px 3px 0;
}

ul.slantbar li:hover,
ul.slantbar li.active {
	background: rgb(211,207,186); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(211,207,186,1) 0%, rgba(198,192,159,1) 40%, rgba(178,170,132,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(211,207,186,1)), color-stop(40%,rgba(198,192,159,1)), color-stop(100%,rgba(178,170,132,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(211,207,186,1) 0%,rgba(198,192,159,1) 40%,rgba(178,170,132,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(211,207,186,1) 0%,rgba(198,192,159,1) 40%,rgba(178,170,132,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(211,207,186,1) 0%,rgba(198,192,159,1) 40%,rgba(178,170,132,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(211,207,186,1) 0%,rgba(198,192,159,1) 40%,rgba(178,170,132,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3cfba', endColorstr='#b2aa84',GradientType=0 ); /* IE6-9 */

    background-repeat: repeat-x;
  	color:black;
  	text-shadow:0 1px 1px rgba(255,255,255,0.7);
}

ul.slantbar li:first-child:hover:before,
ul.slantbar li:last-child:hover:after,
ul.slantbar li:first-child.active:before,
ul.slantbar li:last-child.active:after {
	background: rgb(211,207,186); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(211,207,186,1) 0%, rgba(198,192,159,1) 40%, rgba(178,170,132,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(211,207,186,1)), color-stop(40%,rgba(198,192,159,1)), color-stop(100%,rgba(178,170,132,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(211,207,186,1) 0%,rgba(198,192,159,1) 40%,rgba(178,170,132,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(211,207,186,1) 0%,rgba(198,192,159,1) 40%,rgba(178,170,132,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(211,207,186,1) 0%,rgba(198,192,159,1) 40%,rgba(178,170,132,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(211,207,186,1) 0%,rgba(198,192,159,1) 40%,rgba(178,170,132,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3cfba', endColorstr='#b2aa84',GradientType=0 ); /* IE6-9 */
    background-repeat: repeat-x;
}

/*TODO - this is broken? supposed to be brighter for active:hover*/
ul.slantbar li:first-child.active:before:hover,
ul.slantbar li:last-child.active:after:hover,
ul.slantbar li.active:hover {
	background: rgb(242,237,215); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(242,237,215,1) 0%, rgba(242,234,198,1) 40%, rgba(214,203,160,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,237,215,1)), color-stop(40%,rgba(242,234,198,1)), color-stop(100%,rgba(214,203,160,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(242,237,215,1) 0%,rgba(242,234,198,1) 40%,rgba(214,203,160,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(242,237,215,1) 0%,rgba(242,234,198,1) 40%,rgba(214,203,160,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(242,237,215,1) 0%,rgba(242,234,198,1) 40%,rgba(214,203,160,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(242,237,215,1) 0%,rgba(242,234,198,1) 40%,rgba(214,203,160,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2edd7', endColorstr='#d6cba0',GradientType=0 ); /* IE6-9 */
    background-repeat: repeat-x;

}

ul.slantbar li.active:first-child

ul.slantbar li:first-child i {
  	margin-left:-5px;
}

ul.slantbar li:last-child i {
  	margin-right:-5px;
}

/*end*/


/*For responsiveness*/

@media (max-width: 768px) {
    div.container {
        flex-direction: column;
        flex: 1;
    }
    
    nav ul li {
        display: inline;
        background-color: #ff9000;
        padding: 8px 4px 8px 4px;
    }
    nav ul li:first-child {
    	padding: 8px 4px 8px 8px;
    }
    nav ul li:last-child {
    	padding: 8px 8px 8px 4px;
    }
    
    nav, .HolyGrail-ads {
        /* 12em is the width of the columns */
        flex: 0 0 3em;
    }
}
